/* ADD YOUR STYLES HERE */
body {
    background-color:#bdbdbd;
}
.instructions-container{
    background-color:white;
}
.table td {
    text-align: center;
    padding: 10px 50px 9px 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}

.table th {
    text-align: center;
    padding: 10px 50px 9px 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}

.nobottom td {
    border-bottom-style: none;
}

.numbers{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 1px 50px 9px 10px;
    

}

tr.top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;

}
.barChart th{
    text-align: right;
    padding-right: 8px;
    
}
.barChart td{
    width: 100%;
    border-bottom-style: none;
    vertical-align: 50%;
    color: white;
}
.barChart div{
    background-color: cornflowerblue;
    padding-top: 4px;
    padding-left: 5px;
    height: 25px;
    

    
    
}