/* ADD YOUR STYLES HERE */
body {
    background-color:#bdbdbd;
}
.instructions-container{
    background-color:white;
}
.table td {
    text-align: center;
    padding: 10px 50px 9px 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}

.table th {
    text-align: center;
    padding: 10px 50px 9px 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}

.nobottom td {
    border-bottom-style: none;
}

.numbers{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 1px 50px 9px 10px;
    

}

tr.top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;

}
.barChart th{
    text-align: right;
    padding-right: 8px;
    display: block;
    width: 120px;
    
    
}
.barChart td{
    width: 100%;
    border-bottom-style: none;
    vertical-align: 50%;
    color: white;
}
.barChart div{
    background-color: #629EDB;
    padding-top: 4px;
    padding-left: 5px;
    height: 22px;
}

/*.graybox {
    display: block;
    background-color: gray;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 1px;
    left: 1px;
    top: 1px;
    bottom: 1px;
    opacity: 0.97;
    
}
.whitebox {
    background-color: white;
    width: 40%;
    height: 30%;
    position: relative;
    top: 35%;
    left: 30%;
    border-radius: 8px;
    opacity: 1;
    

}
.textbox {
    padding-top: 15px;
    padding-left: 15px;
    opacity: 1;

    
}
.close{
    background-color: #EC828A;

    position: absolute;
    height: 30px;
    width: 80px;
    bottom: 15px;
    right: 15px;
    border-radius: 10px;

}

.close a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 20%;
    left: 25%;
    font-family: Arial;
}

*/

.imageContainer{
    float: left;
}

.cupcakeContainer{
    padding-left: 70px;
}